body {
    font-family: 'Arial', sans-serif;
    background-color: white;
    margin: 0;
    padding: 0;
}

header {
    background-color: black;
    color: #fff;
    padding: 15px;
    text-align: center;
}

section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 20px;
}

.hobby-card {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 10px;
    overflow: hidden;
    width: 300px;
}

.hobby-card img {
    width: 100%;
    height: 150px;
    object-fit: cover;
}

.hobby-card h2 {
    color: black;
    margin: 15px;
}

.hobby-card p {
    color: grey;
    margin: 0 15px 15px;
}

a {
    text-decoration: none;
    color: skyblue;
}

a:hover {
    text-decoration: underline;
}
